*{
  margin: 0;
  padding: 0;
}

p{
  line-height: 1.6;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
}

h1, h3{
  font-family: 'Fjalla One', sans-serif;
}

/* Navigation bar */
header{
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-bar{
  background-color: #4c7397;
}

.logo{
  position: absolute;
  top: 4px;
  left: 1rem;
}

.nav-bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.nav-bar li{
  display: inline-block;
}

.active a{
  background-color: #2c405287 !important;
}

.nav-bar li a {
  display: block;
  text-align: center;
  padding: 14px 80px;
  text-decoration: none;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  transition: background-color 1s ;
}

.nav-bar li a:hover{
  background-color: #2c405287;
}

.icon{
  color: aquamarine;
  margin-right: 10px;
}

/* First Page */
.first-page{
  background-color: rgba(186, 186, 186, 0.47);
  padding: 10em 5rem 5em 12rem;
}

.container{
  position: relative;
}

.heading{
  font-size: 1.5em;
  background-color: rgba(87, 128, 210, 0.808);
  text-align: center;
  padding: 1.8rem 3rem 1.8rem 0rem;
  width: 55%;
  letter-spacing: 0.6rem;
}

.number{
  font-size: 15em;
  color: rgba(87, 128, 210, 0.808);
  -webkit-text-stroke: 5px white;
  position: absolute;
  font-weight: 900;
  top: 0;
  right: 0;
  margin: 0 14% 0 0; 
  font-family: 'Lilita One', sans-serif;
  transform: translateY(-0.50em);
}

.main-text{
  display: flex;
}

.main-text p{
  max-width: 60%;
  padding: 1rem 3rem 1rem 9rem;
  margin-left: -6.7rem;
  background-color: white;
  border-right: 2rem solid rgba(87, 128, 210, 0.808);
}

.image-box{
  position: relative;
  width: 20%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
}

.image-box img{
  width: 100%;
  border-radius: 50%;
  border: 10px solid rgba(87, 128, 210, 0.808);
  box-shadow: 0 0 0 10px #fff;
}

/* Second Page */
.second-page{
  background-color: rgba(87, 128, 210, 0.808);
  padding: 10em 5rem 5em 12rem;
}

.container-1{
  position: relative;
}

.second-page .heading{
  position: relative;
  font-size: 1.5em;
  background-color: #333431;
  text-align: center;
  padding: 1.8rem 3rem 1.8rem 0rem;
  width: 55%;
  letter-spacing: 0.6rem;
  color: #fff;
}

.container-1 .number{
  font-size: 15em;
  color: #333431;
  -webkit-text-stroke: 5px white;
  position: absolute;
  font-weight: 900;
  top: 0;
  right: 0;
  margin: 0 14% 0 0; 
  font-family: 'Lilita One', sans-serif;
  transform: translateY(-0.50em);
}

.second-page .container-1 .main-text p{
  max-width: 60%;
  padding: 1rem 3rem 1rem 9rem;
  margin-left: -6.7rem;
  background-color: white;
  border-right: 2rem solid #333431;
}

/* Third page */
.third-page{
  background-color: rgba(186, 186, 186, 0.47);
  padding: 10em 7rem 5em 10.5rem;
  overflow: hidden;
}

.container-2{
  position: relative;
  transform: translateX(7.5rem);
}

.third-page .heading{
  position: relative;
  font-size: 1.5em;
  background-color: rgba(87, 128, 210, 0.808);
  text-align: center;
  padding: 1.8rem 0rem 1.8rem 3rem;
  width: 55%;
  letter-spacing: 0.6rem;
  color: #000;
  margin-left: 17.5rem;
}

.container-2 .number{
  font-size: 15em;
  color: rgba(87, 128, 210, 0.808);
  -webkit-text-stroke: 5px white;
  position: absolute;
  font-weight: 900;
  top: 0;
  left: -2rem;
  font-family: 'Lilita One', sans-serif;
  transform: translateY(-0.50em);
}

.third-page .container-2 .main-text p{
  max-width: 60%;
  padding: 1rem 10rem 1rem 3rem;
  margin-right: -9rem;
  background-color: white;
  border-left: 2rem solid rgba(87, 128, 210, 0.808);
  border-right: none;
}

/* Fourth page */
.fourth-page{
  background-color: rgba(87, 128, 210, 0.808);
  padding: 10em 7rem 5em 10.5rem;
  overflow: hidden;
}

.container-3{
  position: relative;
  transform: translateX(7.5rem);
}

.fourth-page .heading{
  position: relative;
  font-size: 1.5em;
  background-color: #333431;
  text-align: center;
  padding: 1.8rem 0rem 1.8rem 3rem;
  width: 55%;
  letter-spacing: 0.6rem;
  color: #fff;
  margin-left: 17.5rem;
}

.container-3 .number{
  font-size: 15em;
  color: #333431;
  -webkit-text-stroke: 5px white;
  position: absolute;
  font-weight: 900;
  top: 0;
  left: -2rem;
  font-family: 'Lilita One', sans-serif;
  transform: translateY(-0.50em);
}

.fourth-page .container-3 .main-text p{
  max-width: 60%;
  padding: 1rem 10rem 1rem 3rem;
  margin-right: -9rem;
  background-color: white;
  border-left: 2rem solid #333431;
  border-right: none;
}

/* Footer */
.footer{
  width: auto;
  height: 16vh;
  padding: 4vh;
  background-color: #717171;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inha-emblem{
  position: relative;
}

.footer-text{
  text-align: center;
  margin-left: 5rem;
}

.inha-link{
  position:absolute;
  background-color: #00000000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.social-media i{
  margin-right: 1vw;
  font-size: 25px;
}